#navbar {
  width: 100%;
  height: 6em;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#add-to-list-btn{
  background-color: yellow;
  padding: 0.4em;
  font-weight: bold;
  border-radius: 0.4em;
  
}

#add-to-list-btn:hover{
  cursor: pointer;
  
}

#title-cont{
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#sign{
  width: 20%;
}
#logo {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  opacity: 1 !important;
  color: white;
}

.links {
  color: white;
}

.links:hover {
  color: white;
  text-decoration: none;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 1 !important;
  width: 35%;
}

#logo-img {
  width: 100%;
}

#search-input {
  border-radius: 40%;
  width: 12%;
  transition: 0.5s;
}

#search-input:hover {
  border-radius: 10%;
  width: 60%;
}
