*{
  font-family: 'Source Sans Pro', sans-serif;
}
.new-series {
  width: 100%;
  text-align: center;
  color: #adb5bd;
 
  p {
    font-size: 3em;
    font-family: 'Merriweather', serif;
  }
}


.dashboard-main {
 
  width: 100%;
  background-color: black;
}

.carousel-line {
  color: white;
  background-color: white;
  max-width: 100%;
}

.carousel-container {
  max-width: 100%;
}
