#my-list-cont {
  width: 100%;


  display: grid;
  margin-top: 2em;
  width: 90%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(3, 30em);
 
}

#main-cont{
    width: 100%;
    height: 100%;
    display: flex;
 
    justify-content: center;
    align-items: center;
}